.movie-details-card-container {
  background-color: #0a0818;
  height: 400px;
  width: 96%;
  border-radius: 5px;
  padding: 10px;
  margin-top: 8px;
  display: flex;
  flex-direction: column;
}

.movie-details-card-content {
  display: flex;
  flex-direction: column;
}

.movie-details-and-small-img {
  display: flex;
  align-items: center;
}

.movie-small-img {
  width: 150px;
}
