.top-rated-movies-container {
  background-color: #262626;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-top: 55px;
}

.top-rated-movies-heading {
  font-family: 'Roboto';
  font-size: 24px;
  color: #ffffff;
  font-weight: 600;
  margin-left: 10px;
}

.top-rated-movies-list-container {
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 0;
  margin: 0;
}
